<script type="text/javascript">
$(document).ready(function initfunction()
{
  var elem = document.getElementById("question_qtype");
  //console.log('hi')
  //console.log(elem.value)
  var hiddenDiv1 = document.getElementById("opt1");
  hiddenDiv1.style.display = (elem.value == "True or False") ? "none":"block";
  var hiddenDiv2 = document.getElementById("opt2");
  hiddenDiv2.style.display = (elem.value == "True or False") ? "none":"block";
  var hiddenDiv3 = document.getElementById("opt3");
  hiddenDiv3.style.display = (elem.value == "True or False") ? "none":"block";
  var hiddenDiv4 = document.getElementById("opt4");
  hiddenDiv4.style.display = (elem.value == "True or False") ? "none":"block";
  var r1 = document.getElementsByClassName("radiobutton");
  for (var i = 2, length = r1.length; i < 4; i++)
  {
    if (elem.value == "True or False")
    {
      r1[i].checked = false;
      r1[i].style.visibility = "hidden";
      console.log(i)
      //console.log(r1[i].checked)
    }
    else
    {
      r1[i].style.visibility = "visible";
    }
  }
  console.log(elem.value)
  if (elem.value == "True or False")
  {
    document.getElementById("Option1").firstChild.data = "True";
    document.getElementById("Option2").firstChild.data = "False";
    document.getElementById("Option3").firstChild.data = "";
    document.getElementById("Option4").firstChild.data = "";
  }
  else
  {
    document.getElementById("Option1").firstChild.data = "Option 1";
    document.getElementById("Option2").firstChild.data = "Option 2";
    document.getElementById("Option3").firstChild.data = "Option 3";
    document.getElementById("Option4").firstChild.data = "Option 4";
  }
  
  console.log(document.getElementById("question_image"));
})
</script>

<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="actions" >
    <%= form.label :qtype, 'Type of question (Select this first)' %>
    <%if question.qtype == "True or False"%>
      <%= form.select :qtype, options_for_select({"True or False" => "True or False", "Multiple Choice" => "Multiple Choice"}, :selected => "True or False"), {:onchange => "if (this.selectedIndex) myFunction();", :onload => "initfunction();"}, id: :question_qtype %>
    <%elsif question.qtype == "Multiple Choice"%>
      <%= form.select :qtype, options_for_select({"True or False" => "True or False", "Multiple Choice" => "Multiple Choice"}, :selected => "Multiple Choice"), {:onchange => "if (this.selectedIndex) myFunction();", :onload => "initfunction();"}, id: :question_qtype %>
    <% else %>
    <%= form.select :qtype, options_for_select({"True or False" => "True or False", "Multiple Choice" => "Multiple Choice"}), {:onchange => "if (this.selectedIndex) myFunction();", :onload => "initfunction();"}, id: :question_qtype %>  
    <% end %>
  </div>

  <%= javascript_include_tag('question.js') %>
  
  <p><b> Note </b>: Mathematical equations written in LaTeX must be delimitted by \(...\)</p>
  
  <div class="topic">
    <%= form.label :topic %>
    <%= form.text_area :topic, size: "100x1", id: :question_topic%>
  </div>
  
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, size: "100x4", id: :question_content%>
  </div>

  <div id="opt1" class="field">
    <%= form.label :option1, "First option" %>
    <%= form.text_area :option1, size: "20x2", id: :question_option1 %>
  </div>

  <div id="opt2" class="field">
    <%= form.label :option2, "Second option" %>
    <%= form.text_area :option2, size: "20x2", id: :question_option2 %>
  </div>

  <div id="opt3" class="field">
    <%= form.label :option3, "Third option" %>
    <%= form.text_area :option3, size: "20x2", id: :question_option3 %>
  </div>

  <div id="opt4" class="field">
    <%= form.label :option4, "Fourth option" %>
    <%= form.text_area :option4, size: "20x2", id: :question_option4 %>
  </div>
  
  <div id="typemcq" class="field">
    <%= form.label :answer, "Correct Answer" %>
    <%= form.radio_button(:answer, "option1", :class => "radiobutton", :id => "op1") %> <span id="Option1"> Option 1 </span> <br />
    <%= form.radio_button(:answer, "option2", :class => "radiobutton", :id => 'op2') %> <span id="Option2"> Option 2 </span> <br />
    <%= form.radio_button(:answer, "option3", :class => "radiobutton", :id => 'op3') %> <span id="Option3"> Option 3 </span> <br />
    <%= form.radio_button(:answer, "option4", :class => "radiobutton", :id => 'op4') %> <span id="Option4"> Option 4 </span> <br />
  </div>
  
  <div class="field">
    <%= form.label :explanation %>
    <%= form.text_area :explanation, size: "20x2", id: :question_explanation %>
  </div>
  
  <div class="field">
    <% if @question.image_url.present? %>
      <%= form.label :image , "Replace Image (only jpg, jpeg, gif and png files)"%>
    <% else %>
      <%= form.label :image , "Add Image (only jpg, jpeg, gif and png files)" %>
    <% end %>
    <%= form.file_field :image, size: "5x2", id: :question_image %>
    <% if @question.image_url.present? %>
      <%= image_tag(@question.image_url(:thumb), :align=>"left") %>
      <% 21.times do %>
        <br>
      <% end %>
    <% end %>  
    <% if @question.image_url.present? %>
      <%= form.check_box :remove_question_image %> Remove Existing Image
    <% end %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>