<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <% if @question.image_url.present? %>
    <strong>Image:</strong>
    <br>
    <br>
    <%= image_tag(@question.image_url(:thumb).to_s, :align=>"left") %>
    <% 20.times do %>
      <br>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Qtype:</strong>
  <%= @question.qtype %>
</p>

<p>
  <strong>Option1:</strong>
  <%= @question.option1 %>
</p>

<p>
  <strong>Option2:</strong>
  <%= @question.option2 %>
</p>

<p>
  <strong>Option3:</strong>
  <%= @question.option3 %>
</p>

<p>
  <strong>Option4:</strong>
  <%= @question.option4 %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @question.answer %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @question.explanation %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @question.topic %>
</p>


<u><strong><%= link_to 'Edit', edit_question_path(@question) %></strong></u>
<u><strong><%= link_to 'Back', questions_path %></strong></u>